<template>
<div>
     <b-button v-if="!this.getCarritoById(product.id)" @click="addProductToCart({id:product.id, qty:1})" variant="danger">Agregar del carrito</b-button>
     <b-button v-if="this.getCarritoById(product.id)" @click="removeProductToCart(product.id)" variant="danger">Eliminar al carrito</b-button>
    
</div>
</template>
<script>
const StorageCartKey = 'persist:cart';

import { mapGetters } from 'vuex'

export default {
    name: 'AddCart',  
    props:{
      product: Object
    },
    computed: {
        ...mapGetters({
            getCarrito: 'carrito/getCarrito',
            getCarritoById: 'carrito/getCarritoById'
        }), 
    },     

    data () {
        return {
            productsArray: [],
        }
    },
    methods:{
        /* Add product to cart*/
        addProductToCart( data ){
            this.$store.commit("carrito/add", data);
        },
        /* Remove product from cart*/
        removeProductToCart( data ){
            this.$store.commit("carrito/remove", data);
        }
    }
}
</script>