<template>
  <p v-if="$fetchState.pending">Cargando categorias...</p>
  <p v-else-if="$fetchState.error">An error occurred :(</p>
  <div v-else>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Mi Market Place</h1>
      <p class="fs-5 text-muted">
        
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lectus, posuere non diam et, placerat facilisis lacus. Nunc sed vehicula orci. Suspendisse bibendum arcu aliquet diam tristique sollicitudin.        
        </p>
    </div>
    <ul>
      <li v-for="category of categories" :to="category.path" :key="category.slug">{{ category.name }}</li>
    </ul>
  </div>
</template>

<script>
  export default {
    loading: true,
    data() {
      return {
        categories: []
      }
    },
    async fetch() {
      this.categories = await fetch(
        `${process.env.ApiUrl}/api/categories/`
      ).then(res => res.json())
    },
    async save(){
      this.$auth.$storage.setUniversal('user', 'jaime', true);
    }
  }
</script>