<template>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    
<b-navbar toggleable="lg" type="light">
    <b-navbar-brand to="/">   
      <svg xmlns="http://www.w3.org/2000/svg" id="outline" viewBox="0 0 512 512" width="40" height="40"><path d="M472,80H424V96h48a8.00917,8.00917,0,0,1,8,8V352a8.00917,8.00917,0,0,1-8,8H40a8.00917,8.00917,0,0,1-8-8V104a8.00917,8.00917,0,0,1,8-8H88V80H40a24.0275,24.0275,0,0,0-24,24V352a24.0275,24.0275,0,0,0,24,24H208v72H192a8.00008,8.00008,0,0,0-8,8v32a8.00008,8.00008,0,0,0,8,8H320a8.00008,8.00008,0,0,0,8-8V456a8.00008,8.00008,0,0,0-8-8H304V376H472a24.0275,24.0275,0,0,0,24-24V104A24.0275,24.0275,0,0,0,472,80ZM312,480H200V464H312Zm-24-32H224V376h24v32a8,8,0,0,0,16,0V376h24Z"/><path d="M64,272v16H448V272H408V88a7.99583,7.99583,0,0,0-.84473-3.57764l-32-64A7.99979,7.99979,0,0,0,368,16H144a7.99979,7.99979,0,0,0-7.15527,4.42236l-32,64A7.99583,7.99583,0,0,0,104,88V272Zm240,0V176h48v96Zm40-160a16,16,0,0,1-32,0V96h32Zm-48,0a16,16,0,0,1-32,0V96h32Zm-48,0a16,16,0,0,1-32,0V96h32Zm-48,0a16,16,0,0,1-32,0V96h32ZM120,96h32v16a16,16,0,0,1-32,0ZM299.05591,80H268.94409l24-48h30.11182Zm-48,0H220.94409l24-48h30.11182Zm-48,0H172.94409l24-48h30.11182ZM360,96h32v16a16,16,0,0,1-32,0Zm4.94409-16L376,57.88843,387.05566,80Zm2.11157-39.99976L347.05591,80H316.94409l24-48h22.11157ZM148.94434,32h30.11157l-24,48H124.94434ZM120,139.69482a31.91543,31.91543,0,0,0,40-6.56274,31.934,31.934,0,0,0,48,0,31.934,31.934,0,0,0,48,0,31.934,31.934,0,0,0,48,0,31.934,31.934,0,0,0,48,0,31.91543,31.91543,0,0,0,40,6.56274V272H368V168a8.00008,8.00008,0,0,0-8-8H296a8.00008,8.00008,0,0,0-8,8V272H120Z"/><path d="M256,160H152a8.00008,8.00008,0,0,0-8,8v72a8.00008,8.00008,0,0,0,8,8H256a8.00008,8.00008,0,0,0,8-8V168A8.00008,8.00008,0,0,0,256,160Zm-8,72H160V176h88Z"/><rect x="176" y="312" width="16" height="16"/><rect x="224" y="312" width="16" height="16"/><rect x="272" y="312" width="16" height="16"/><rect x="320" y="312" width="16" height="16"/><circle cx="320" cy="224" r="8"/></svg>
      <span class="fs-4">Mi Market Place</span>
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item to="/page">Nuestra empresa</b-nav-item>
   

        <b-nav-item-dropdown text="Productos">
          <b-dropdown-item v-for="category of categories" :key="category.id" :to="category.path">{{ category.name }}</b-dropdown-item>
          <b-dropdown-item href="/categories">Todas las categorias</b-dropdown-item>
        </b-nav-item-dropdown>


        <b-nav-item to="/login" v-if="!getToken">Ingresar</b-nav-item>
        <b-nav-item to="/sign-up" v-if="!getToken">Crear una cuenta</b-nav-item>
        <b-nav-item to="/cuenta" v-if="getToken">Mi cuenta</b-nav-item>
        <b-nav-item @click="logout" v-if="getToken">Salir</b-nav-item>
        <b-nav-item to="/carrito">
        <svg height="20px" viewBox="0 -31 512.00026 512" width="20px" xmlns="http://www.w3.org/2000/svg"><path d="m164.960938 300.003906h.023437c.019531 0 .039063-.003906.058594-.003906h271.957031c6.695312 0 12.582031-4.441406 14.421875-10.878906l60-210c1.292969-4.527344.386719-9.394532-2.445313-13.152344-2.835937-3.757812-7.269531-5.96875-11.976562-5.96875h-366.632812l-10.722657-48.253906c-1.527343-6.863282-7.613281-11.746094-14.644531-11.746094h-90c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h77.96875c1.898438 8.550781 51.3125 230.917969 54.15625 243.710938-15.941406 6.929687-27.125 22.824218-27.125 41.289062 0 24.8125 20.1875 45 45 45h272c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-272c-8.269531 0-15-6.730469-15-15 0-8.257812 6.707031-14.976562 14.960938-14.996094zm312.152343-210.003906-51.429687 180h-248.652344l-40-180zm0 0"/><path d="m150 405c0 24.8125 20.1875 45 45 45s45-20.1875 45-45-20.1875-45-45-45-45 20.1875-45 45zm45-15c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15-15-6.730469-15-15 6.730469-15 15-15zm0 0"/><path d="m362 405c0 24.8125 20.1875 45 45 45s45-20.1875 45-45-20.1875-45-45-45-45 20.1875-45 45zm45-15c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15-15-6.730469-15-15 6.730469-15 15-15zm0 0"/></svg>      
        <small>{{getCarrito.length}}</small>
        </b-nav-item>
      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Navigation',
  computed: {
      ...mapGetters({
          getCarrito: 'carrito/getCarrito',
          getToken: 'token/getToken'
          
      }), 
    },
    data() {
      return {
        categories: []
      }
    },
    async beforeMount(){
      await this.fetch();
    },
    methods: {
    logout(){
       this.$store.commit("token/remove");
       this.$router.push('/login')
    },  
    async fetch() {
        this.categories = await fetch(
          `${process.env.ApiUrl}/api/categories`
        ).then(res => res.json())
      }
    }
  }
</script>
<style>
.header {
  background: #2c3e50;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 1px dotted #2ecc71;
}
.header .text-title {
  font-size: 2rem;
  text-transform: uppercase;
}
.header ul {
  display: flex;
  list-style: none;
}
.header a {
  color: #000;
  background: #2d3436;
  padding: 0.3rem 1rem;
  margin-right: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header a:hover {
  background: #2c3e50;
  border: 1px solid #bdc3c7;
}
</style>