<template>
  <div class="container text-center">
    <h1 class="page-title">{{category.name}}</h1>
    <b-row v-if="!$fetchState.pending">
      <b-col md="6" lg="4" cols="12" v-for="product of products" :key="product.id" :to="product.path">
        <b-card :img-src="product.image" img-alt="Image" img-top tag="article" class="mb-2">
          <b-card-text>
            <h2>{{product.name}}</h2> 
            <p class="sku">{{product.sku}}</p> 
            <p class="price">${{ product.price }}</p> 
          </b-card-text>
          <AddCart :product="product"/>
        </b-card>
      </b-col>
    </b-row>
    <p class="text-center" v-if="!$fetchState.pending && products.length == 0">No hay productos<br/><br/><b-button to="/">Ir a inicio</b-button></p>
  </div>
</template>
<script>
  export default {
    head() {
      return {
        title: this.category.name+' | Marketplace'
      }
    },
    data() {
      return {
        category: [],
        products: []
      }
    },
    async fetch() {
      /* Get categories and products */
      this.category = await fetch(`${process.env.ApiUrl}/api/categories/${this.$route.params.id}`).then(res => res.json());
      this.products = await fetch(`${process.env.ApiUrl}/api/products/${this.$route.params.id}`).then(res => res.json())
    }

  }
</script>
<style>
h2 {
 font-size: 14px;
 font-weight: bold;
}
.sku{
   font-size: 12px;
   font-style: italic;
}

</style>