<template>

</template>
<script>
export default {
  head() {
    return {
      title: 'Categorias | Marketplace',
      meta: [
        {
          content: 'Categorias de producto'
        }
      ],
      htmlAttrs: {
        lang: 'es'
      }
    }
  },
  created(){
      
  }
}
</script>