<template>
  <div class="container py-3">
    <header>
    <Navigation />
    </header>
   <main>
    <div>
      <nuxt />
    </div>
   </main>
  </div>
</template>

<script>
import Navigation from "../components/Navigation";
export default {
  head() {
    return {
      link: [
        {
          rel: "stylesheet",
          href: "https://fonts.googleapis.com/css?family=Roboto&display=swap"
        }
      ]
    };
  },
  components: {
    Navigation
  }
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
  background-repeat: no-repeat;
  color: #000;
  font-family:  'Roboto', Arial, Helvetica, sans-serif;;
}
.content {
  padding: 2rem;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}
.page-title{
  margin-bottom: 30px;
}

</style>