<template>
  <div class="container text-center">
    <h1 class="page-title">Carrito de compras</h1>
    <b-row v-if="!$fetchState.pending">
      <b-col cols="12" v-for="product of products" :key="product.id" :to="product.path">
        <b-card>
          <b-card-text>
            <h2>{{product.name}}</h2> 
            <p class="sku">{{product.sku}}</p> 
            <p class="price">${{ product.price }}</p> 
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
    <p class="text-center" v-if="!$fetchState.pending && products.length == 0">No hay productos<br/><br/><b-button to="/">Ir a inicio</b-button></p>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

  export default {
    head() {
      return {
        title: 'Marketplace'
      }
    },
    computed: {
        ...mapGetters({
            getCarrito: 'carrito/getCarrito',
        }), 
    },  
    beforeMount(){
      this.$fetch()
    },
    data() {
      return {
        products: []
      }
    },
    async fetch() {
        /* Get categories and products */
        var ids = this.getCarrito.map(function(x) {
          return x.text.id;
        });
        console.log(ids);

        const requestOptions = {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ productsIds: ids })
        };
        const response = await fetch(`${process.env.ApiUrl}/api/products`, requestOptions);
        this.products = await response.json();

      }


  }
</script>
<style>
h2 {
 font-size: 14px;
 font-weight: bold;
}
.sku{
   font-size: 12px;
   font-style: italic;
}

</style>