<template>
  <Home />
</template>

<script lang="ts">

import Vue from 'vue'

export default Vue.extend({ 
  head() {
    return {
      title: 'Mi Marketplace',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Categorias de producto'
        }
      ],
      htmlAttrs: {
        lang: 'es'
      }
    }
  },
  created(){
      
  }}
  )

</script>
