<template>
 <div class="container text-center">
     <h1>Ingreso</h1>
<form
        accept-charset="UTF-8"
        @submit="checkForm"
        method="POST"
      >
        <div>
        <p v-if="errors.length">
            <ul>
            <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>

          <label>Correo eléctronico</label>
          <input
            type="email"
            v-model="email"
            class="form-control"
          >
        </div>
        <div>
          <label>Contraseña</label>
          <input
            type="password"
            v-model="password"
            class="form-control" 
          >
        </div>

        <hr>
       <b-button variant="success" type="submit">Ingresar</b-button>
      </form>
 </div> 
</template>

<script lang="ts">
const StorageCartKey = 'persist:cart';

import Vue from 'vue'


export default Vue.extend({ 
  head() {
    return {
      title: 'Ingresar',
      htmlAttrs: {
        lang: 'es'
      }
    }
  },
    data() {
        return {
            email: null,
            password: null,
            errors: [] as  any,
        }
    },
  created(){
      
  },
    methods: {
    checkForm: function (e: any) {
        this.errors = [];

        if (!this.email) {
            this.errors.push('El correo electrónico es obligatorio.');
        }
        if (!this.password) {
            this.errors.push('La contraseña es obligatoria.');
        }
        if (this.email && this.password) {
           const data = this.login();
           console.log(data);
        
        }
        e.preventDefault();
      },
      
      async login() {
          const source = await this.$axios.$post('https://ynsitu.mastechno.com/api/auth/login', {
            email: 'andres654@gmail.com',
            password: 'lola123',
            })
            
            this.$store.commit("token/add", source.access_token);
            this.$router.push('/cuenta')
            
        }
    }
  
  }
  )

</script>
<style>
li{
    list-style: none;
    color: red;
}

</style>