<template>
 <div class="container text-center">
     <h1>Crear una cuenta</h1>
<form
        accept-charset="UTF-8"
        @submit="checkForm"
        method="POST"
      >
        <p v-if="errors.length">
            <ul>
            <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>
        <div>
         <label>Nombre completo</label>
          <input
            type="text"
            v-model="name"
            class="form-control"
          >
        </div>
        <div>
         <label>Correo eléctronico</label>
          <input
            type="email"
            v-model="email"
            class="form-control"
          >
        </div>
        <div>
          <label>Contraseña</label>
          <input
            type="password"
            v-model="password"
            class="form-control" 
          >
        </div>
        <div>
          <label>Confirmar Contraseña</label>
          <input
            type="password"
            v-model="confirmpassword"
            class="form-control" 
          >
        </div>
        <hr>
       <b-button variant="success" type="submit">Registrarme</b-button>
      </form>
 </div> 
</template>

<script lang="ts">
const StorageCartKey = 'persist:cart';

import Vue from 'vue'


export default Vue.extend({ 
  head() {
    return {
      title: 'Ingresar',
      htmlAttrs: {
        lang: 'es'
      }
    }
  },
    data() {
        return {
            name: null,
            email: null,
            confirmpassword: null,
            password: null,
            errors: [] as  any,
        }
    },
  created(){
      
  },
    methods: {
    checkForm: function (e: any) {
        this.errors = [];
        if (!this.name) {
            this.errors.push('El nombre es obligatorio.');
        }
        if (!this.email) {
            this.errors.push('El correo electrónico es obligatorio.');
        }
        if (!this.password) {
            this.errors.push('La contraseña es obligatoria.');
        }else if(this.password !== this.confirmpassword){
            this.errors.push('Las contraseñas no coinciden.');
        }
        if (this.email && this.password && this.errors.length ==0) {
           const data = this.signup();
        }
        e.preventDefault();
      },
      
      async signup() {
          try { 
          const source = await this.$axios.$post('https://ynsitu.mastechno.com/api/auth/signup', {
            first_name: this.name,
            email: this.email,
            password: this.password,
            })
             
            this.$store.commit("token/add", source.access_token);
            this.$router.push('/cuenta');

            } catch (error:any) {
                var response = JSON.parse(error.request.response);
                if (response.errors.email){
                     this.errors.push("Este email ya existe");
                }else{
                     this.errors.push("No fue posible crear el usuario");
                }
            }
        }
    }
  
  }
  )

</script>
<style>
li{
    list-style: none;
    color: red;
}

</style>